<div class="container">
<h1>Add Artist</h1>

<%= form_for :artist, url: artists_path do |f| %>
  <p>
    <%= f.label :Name %><br>
    <%= f.text_field :name, :placeholder => "Enter artist name"%>
  </p>

  <p>
    <%= f.label :Genre %><br>
    <%= f.select :genre, ['Rock', 'Country', 'Pop'] %>
  </p>

  <p>
    <%= f.submit class:"btn btn-primary"%>
  </p>
<% end %>
</div>
